<!DOCTYPE html>
<html>
<head>
  <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
  <title>Achieve</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% if user_signed_in? %>
      <script>
        var pusher = new Pusher('<%= ENV["PUSHER_KEY"] %>',{
          cluster: 'ap1',
          encrypted: true
        });

        var channel = pusher.subscribe("user_<%= current_user.id %>_channel");
        channel.bind('comment_created', function(data) {
          alert(data.message);
        });
        channel.bind('notification_created', function(data) {
          $('#unread_count').html(data.unread_counts);
        });
      </script>
  <% end %>
  </head>
<body>
  <header>
      <%= render 'layouts/header' %>
  </header>
  <%= yield %>
  <footer>
    <%= render 'layouts/footer' %>
  </footer>
</body>
</html>
